body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input 
{
    font-family: helvetica,verdana,arial,sans-serif;
}
body 
{
    background: url(textture-noise.png); 
    margin: 0;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica;
    
}

#wrapper
{
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: auto;
    overflow-y: auto;
}

.tenNewsItem
{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#news
{
    width: 90%;    
    border: 1px solid black;
    overflow-y: auto;
    
}
#advertisement
{
    width: 90%;
    border: 1px dashed blue;
    background-color: LightGray;
    overflow-y: auto;
    
}