body, p, h1, h2, h3, h4, table, td, th, ul, ol, textarea, input 
{
    font-family: helvetica,verdana,arial,sans-serif;
}
body 
{
    background: url(textture-noise.png);
    
    margin: 0;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica;
}

#wrapper
{
    width: 100%;
    margin: 0 auto;
}

.right
{
    width: 40%;
    float:right;
}
#product
{
    width: 40%;
    float:left;
}

